[submodule "app/src/main/jni/libshout/libshout"]
	path = app/src/main/jni/libshout/libshout
	url =  https://github.com/CoolMicApp/icecast-libshout
[submodule "app/src/main/jni/libcoolmic-dsp/libcoolmic-dsp"]
	path = app/src/main/jni/libcoolmic-dsp/libcoolmic-dsp
	url = https://github.com/CoolMicApp/libcoolmic-dsp
[submodule "app/src/main/jni/opus/opus"]
	path = app/src/main/jni/opus/opus
	url = https://git.xiph.org/opus.git
